* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(20, 20, 20);
}

header {
    margin: 0px 100px;
    padding-top: 30px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    /* background-color: red; */

    align-items: center;
}

.logo {
    transition: .3s ease;
    
}

.logo a {
    color: #77aaff;
    font-size: 2.2rem;
    font-weight: 600;
}

.logo:hover {
    transform: scale(1.15);
}

.navbar a, button {
    color: white;
    font-size: 1.3rem;
    font-weight: 250;

    margin-left: 25px;

    display: inline-block;
    transition: .3s ease;
}

button {
    border-radius: 100px;
    width: 120px;
    padding: 3px;
    background-color: #77aaff;
}

.navbar a:hover{
    transform: scale(1.15);
    color:#77aaff;
    /* text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px; */
}

button:hover {
    transform: scale(1.1);
    background-color: #3982ff;
    cursor: pointer;
}