@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   font-family: "Poppins", sans-serif;
   color: white;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: #141414;
   padding-top: 100px;
}

header {
   margin: 0px 0px;
   padding: 30px 30px;


   display: flex;
   justify-content: space-between;
   background-color: #141414;


   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1000;


   align-items: center;
}

.logo {
   transition: .3s ease;
}

.logo a {
   color: #77aaff;
   font-size: 2.2rem;
   font-weight: 600;
}

.logo:hover {
   transform: scale(1.15);
}

.navbar a, button {
   color: white;
   font-size: 1.3rem;
   font-weight: 300;


   margin-left: 25px;

   display: inline-block;
   transition: .3s ease;
}

.navbar i {
   font-size: 40px;
   visibility: hidden;
   display: none;
}

button {
   border-radius: 100px;
   width: 120px;
   padding: 3px;
   background-color: #77aaff;
}

.navbar a:hover{
   transform: scale(1.15);
   color:#77aaff;
   /* text-decoration: underline;
   text-decoration-thickness: 2px;
   text-underline-offset: 2px; */
}

button:hover {
   transform: scale(1.1);
   background-color: #3982ff;
   cursor: pointer;
}

@media (max-width: 1024px) {
   header {
       margin: 0px 40px;
       padding: 20px 0px 10px 0px;
   }

   .logo a {
       font-size: 3rem;
   }

   .navbar {
       margin-top: 10px;
   }

   .navbar a, button {
       visibility: hidden;
       display: none;
   }

   .navbar i {
       visibility: visible;
       display:flex;
   }

   body {
       padding-top: 80px;
   }
}